* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.main-contents {
  margin: 50px auto;
  width: 960px;
  display: flex;
}
.step {
  width: 300px;
  background-color: #eeeeee;
  margin-left: 15px;
  margin-right: 15px;
}
.step-dummy {
  padding: 10px;
}
.step-title {
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
}

.img1 {
  background-image: url("flow01.png");
  height: 150px;
  background-size: cover;
}
.img2 {
  background-image: url("flow02.png");
  height: 150px;
  background-size: cover;
}
.img3 {
  background-image: url("flow03.png");
  height: 150px;
  background-size: cover;
}
h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}
footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
@media screen and (max-width: 768px) {
  .main-contents {
    display: block;
    width: 100%;
  }
  .step {
    width: 90%;
    margin-bottom: 20px;
  }
  .step:last-child {
    margin-bottom: 50px;
  }
  .img1 {
    background-position: center;
  }
  .img2 {
    background-position: center;
  }
  .img3 {
    background-position: center;
  }
}
